.stats-icon {
    color: #27374d;
    font-size: 35px;
}

.stats-lbl {
    color: #27374d;
    font-size: 25px;
}

.stats-btn {
    cursor: pointer;
    transition: all 0.2s;
}

.stats-btn:hover {
    transform: scale(1.1);
}

.order-items {
    border-radius: 18px;
    background: #526d82;
    box-shadow: 11px 11px 0px 0px rgba(0, 0, 0, 0.25);
    width: 456px;
    height: 606px;
    padding: 15px;
}

.order-items h2 {
    color: white;
}

.edit-order {
    color: white;
    font-size: 25px;
}

.overview-container {
    font-size: 23px;
    border-radius: 9px;
    background: #dde6ed;
    height: 458px;
    padding: 14px;
}

.overview-item {
    border-radius: 9px;
    background: #9db2bf;
    padding: 10px;
}

.scrollable::-webkit-scrollbar {
    width: 10px !important;
    height: 24px;
}

.item {
    width: 372px;
    height: 233px;
    box-shadow: 6px 7px 0px 0px rgba(0, 0, 0, 0.25);
    border-radius: 19px;
    margin: 8px;
    cursor: pointer;
    transition: all 0.2s;
    padding: 10px;
}

.item:hover {
    transform: scale(1.05);
}

.item-content {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between !important;
    align-items: end !important;
    color: white;
    font-size: 25px;
}

.scrollable{
    height: 754px !important;
}